.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat!important;
   
}
.headerImg{
    height: 200px;
    border-radius: 20px;
    transform: matrix(2, 0.5, 0, 2.5, 30, 8);
    margin: 30px;
}
.text1{
    position: absolute;
    top: 50%;
    left: 70%;
    font-weight: 600!important;
}
.text2{
        
    position: absolute;
    top: 80%;
    font-weight: 600!important;
    width: 40%;

}
@media screen and (max-width:1700px) {
    
    .container{
       margin-bottom: 100px;
    }
}
@media screen and (max-width:900px) {
    .headerImg{
        height: 150px;
        margin: 0px;
    }

    
}
@media screen and (max-width:1100px) {
    .text2{
        font-size: 40px!important;
        width: 70%;
    }
    .text1{
        top: 25%;
    }
    
}
@media screen and (max-width:800px) {
    .text2{
        font-size: 30px!important;
        
    }
    
}
@media screen and (max-width:600px) {
    .headerImg{
        height: 100px;
        transform: matrix(2, 0.5, 0, 2.5, 15, 8);
    }
    .text1{
        left: 50%;
    }
    
}
@media screen and (max-width:500px) {
    .headerImg{
        transform: matrix(2, 0.5, 0, 2.5, 5, 8);
    }
}