.container{
    background-color: #404040;
    padding: 30px!important;
    display: flex;
    align-items: center;
}
.personImg{
    height: 100px;
    margin-bottom: 10px;
}
.ul{

    margin: 0;
}
.li{
    list-style-type: none;
    color: gray;
    padding: 7px;

}
.img{
    height: 100px;
    width: 150px;
}
.ulGrid{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}
@media screen and (max-width:900px) {
    .ulGrid{
        justify-content: flex-start!important;
    }
    .ul{
        padding-left: 0px!important;
    }
}