
.btn{
  padding: 5px 20px!important;
}

.button-orange-bg{
  background-color: #ffb03a!important;
  color: white!important;
  border: 2px solid #ffb03a!important;
}
.button-white-bg{
  background-color: white!important;
  color:#ffb03a!important;
  border: 2px solid gray!important;
  
}
.css-17praur-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  -webkit-text-fill-color: black!important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon.Mui-disabled{
  display: none!important;
}
.orange-text{
  color: #ffb03a;
}
.gray-text{
  color: gray;
}